doctype html
html
    head
        title= 'Welcome'
        link(rel='shortcut icon', type='image/png', href='/favicon.png')
        link(rel='stylesheet', href='/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css')
    body
        .container
            .alert.alert-success(role='alert')
                h1.alert-heading.display-5(style='text-align: center') Welcome!
            a(href='/confirm') Confirm

